.top,.down,.footer{
    font-family: sans-serif;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}
h4,p{
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-weight:bolder;

    

}
body {
    background: #1E1E1E;
    overflow-x: hidden;
    width: 100%;
}
#container{
    display:flex;
    flex-direction: row;
}
.name{
    text-decoration: none;
    color:white;
    font-size: x-large;
    position: absolute;
    top:25px;
    margin-left: 10px;
}
.nav{
    box-sizing: border-box;

position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 0px;

background: #282828;
border-bottom: 1px solid #9D9D9D;
z-index: -1;
}
.nav1{
    box-sizing: border-box;
    width:1450px;
    height:85px;
    background: #282828;
    position: absolute;
    bottom:-120px;
    left:-10px;
}
.fa {
    display: flex;
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    position: absolute;
    left:630px;
    bottom:20px;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-instagram {
    background: #cd486b;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
    position: absolute;
    left:720px;
  }
.yo{
    color:orange;
}
.about{
    position: absolute;
    left:1300px;
    font-size: larger;

}
.img1{
    -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    width:500px;
    height:320px;
    position: absolute;
    right:50px;
    top:110px;
    border-radius: 10px;
}
.img1:hover{
    -webkit-filter: blur(0);
	filter: blur(0);
}
.hello{
    text-decoration: none;
    text-decoration: underline;
    color:white;
    display:flex;
    flex-direction: column;
    position: absolute;
    top:405px;
    font-size: 18px;
    margin-left: 10px;
}
.hello:hover{
    color:orange;
}
#top{
    display:flex;
    flex-direction: column;
    
    
}
.text1{
    display:flex;
    flex-direction: column;
    position: absolute;
    top:500px;
    margin-left: 10px;
}
.top{
    position: absolute;
    top:50px;
    font-size: 28px;
    margin-left: 10px;
    
}
.first{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:450px;
    width:1440px;
}
.hobbies{
    font-size: 22px;
}
.mc,.tech{
    font-size: 18px;
    margin-left: 10px;

}
.name:hover{
    color:orange;
}
.about:hover{
    color:gray;
}


@media(max-width:980px){
    .img1{
        width: 400px;
        height:290px;
        position: absolute;
        left:500px;
        top:110px;
    }
    .nav{
        position: absolute;
        width: 980px;
    }
    .first{
        position: absolute;
        width:980px;
    }
    .about{
        position: absolute;
        left:850px;
    }
}
@media(max-width:900px){
   .img1{
    position: absolute;
    top:100px;
    right:-250px
   }
}
@media(max-width:830px){
    .img1{
        width:400px;
        height:300px;
        position: relative;
        top:90px;
        right:100px;
       

    }
    .footer{
        position: relative;
        top:-380px;
    }
    .first{
        position: absolute;
        top:460px;
        width:970px;
    }
    .text1{
        position: absolute;
        top:500px;
    }
    .hello{
        position:absolute;
        top:450px;
    }
    .about{
        position: absolute;
        right:300px;
    }
    .fa-instagram {
        background: #cd486b;
        color: white;
        position: absolute;
        left:350px;
      }
      .fa-twitter {
        background: #55ACEE;
        color: white;
        position: absolute;
        left:440px;
      }
}
@media(max-width:600px){
    .img1{
        width:300px;
        height:200px;
        position: relative;
        top:430px;
        left:0px;
    }
    .nav{
        width:600px;
    }
    .nav1{
        position: absolute;
        bottom:-400px;
        left:-10px;
    }
    .fa-instagram {
        background: #cd486b;
        color: white;
        position: absolute;
        left:250px;
      }
      .fa-twitter {
        background: #55ACEE;
        color: white;
        position: absolute;
        left:330px;
      }
    .about{
        visibility: hidden;
        
    }
    .first{
        position: absolute;
        top:680px;
        width:600px;
    }
    .text1{
        position: absolute;
        top:750px;
    }
    .hello{
    position: absolute;
    top:515px;
    font-size: 20px;
}
}
@media(max-width:405px){
    .top{
        font-size: 27px;
    }
    .first{
        width:405px;
    }
    .nav{
        width:405px;
    }
    .fa-instagram {
        background: #cd486b;
        color: white;
        position: absolute;
        left:120px;
      }
      .fa-twitter {
        background: #55ACEE;
        color: white;
        position: absolute;
        left:200px;
      }
}
@media(max-width:390px){
    .top{
        font-size: 26px;
    }
    .first{
        width:390px;
    }
    .nav{
        width:390px;
    }
}
@media(max-width:365px){
    .top{
        font-size:25px;
    }
    .first{
        width:365px;
    }
    .nav{
        width:365px;
    }
    
}
@media(max-width:335px){
    .top{
        font-size:24px;
    }
    .first{
        width:335px;
    }
    .nav{
        width:335px;
    }
}
@media(max-width:322px){
    .top{
        font-size:22px;
    }
    .first{
        width:322px;
    }
    .nav{
        width:322px;
    }
}
